<!DOCTYPE HTML>
<html>
	<head>
		<title>Antoni Florit Homar pàgina web professional</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/mediumPost.css') }}">
		<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" />
	</head>
	<body class="is-preload">

		<!-- Header -->
			<section id="header">
				<header>
					<span class="image avatar"><img src="{{ url_for('static', filename='images/avatar.jpg') }}" alt="" /></span>
					<h1 id="logo"><a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/antoni-florit-homar">Antoni Florit Homar</a></h1>
					<p><!--[-->Sysadmin convertin-se a DevOps.<!--]--><br />
					<!--[-->DevOps</p>
				</header>
				<nav id="nav">
					<ul>
						<li><a href="#one" class="active">Sobre mi</a></li>
						<li><a href="#two">Blog</a></li>
						<li><a href="#three">Curriculum</a></li>
					</ul>
				</nav>
				<footer>
					<ul class="icons">
						<li><a target="_blank" rel="noopener noreferrer" href="https://twitter.com/en_flo" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a target="_blank" rel="noopener noreferrer" href="https://medium.com/@toniflorithomar" class="icon fa-medium"><span class="label">Medium</span></a></li>
						<li><a target="_blanktarget="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/antoni-florit-homar" rel="noopener noreferrer" href="https://github.com/enflo" class="icon fa-github"><span class="label">Github</span></a></li>
						<li><a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/antoni-florit-homar" class="icon fa-linkedin"><span class="label">Linkedin</span></a></li>
					</ul>
					<div class="credits">
						<span class="copyright">
						  ©
						  <script>
							document.write(new Date().getFullYear())
						  </script>, made with <i class="fa fa-heart heart"></i> in Mallorca
						</span>
					  </div>
				</footer>
			</section>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">

						<!-- One -->
							<section id="one">
								<div class="image main" data-position="center">
									<img src="{{ url_for('static', filename='images/mallorca.jpg') }}" alt="" />
								</div>
								<div class="container">
									<header class="major">
										<h2>Qui soc?</h2>
										<p></p>
									</header>
									<p>Mallorquí d'arrels, de poble de bons vins vivint a ciutat. </br>
										Des de fa anys treball en el món tecnològic, món on estic creixent i desenvolupant-me laboralment. </br>
										He treballat en una consultora TIC on vaig començar com a Helpdesk i vaig ascendir fins a Administrador de Sistemes NII,
										en un metacercador de lloguer vacacional on vaig començar a familiarizarme amb temes més moders com Devops, automatització i desenvolupament continu, </br>
										i ara entre casa i Pamplona fent de Devops i aprenent a escriure codi. </br>
									</p>
								</div>
							</section>

						<!-- Two -->
						<section id="two">
							<div class="container">
								<h3>Publications</h3>
								<div id="blog" class="blog">
									<ul class="blog__slider">
										Posts go here
									</ul>
								</div>
							</div>
						</section>

						<!-- Three -->
							<section id="three">
								<div class="container">
									<h3>Experiència laboral</h3>
									<p>Des del 2015 en el món digital i tecnològic, he crescut des de la base del helpdesk de Brujula, passant per Hundredrooms on vaig poder endinsar-me en el món del DevOps i actualment a Multihelpers fent tasques de Devops</p>
									<div class="features">
										<article>
											<a href="https://multihelpers.com" class="image"><img src="{{ url_for('static', filename='images/multihelpers.png') }}" alt="" /></a>
											<div class="inner">
												<h4><!--[-->Multihelpers<!--]--></h4>
												<p><a href="https://www.linkedin.com/in/antoni-florit-homar/"> llegeix més </a></p>
											</div>
										</article>
										<article>
											<a href="https://hundredrooms.com" class="image"><img src="{{ url_for('static', filename='images/hundred.jpeg') }}" alt="" /></a>
											<div class="inner">
												<h4><!--[-->Hundredrooms<!--]--></h4>
												<p><a href="https://www.linkedin.com/in/antoni-florit-homar/"> llegeix més </a></p>
											</div>
										</article>
										<article>
											<a href="https://brujula.es" class="image"><img src="{{ url_for('static', filename='images/brujula.png') }}" alt="" /></a>
											<div class="inner">
												<h4><!--[-->Brujula Tecnologias de la información<!--]--></h4>
												<p><a href="https://www.linkedin.com/in/antoni-florit-homar/"> llegeix més </a></p>
											</div>
										</article>
									<h3> Estudis</h3>
									<div class="features">
										<article>
											<div class="inner">
												<h5><!--[-->Grau en enginyeria de les telecomunicacions, UOC<!--]--></h5>
												<p></p>
											</div>
										</article>
										<article>
											<div class="inner">
												<h5><!--[-->GFPS Administració de sistemes informàtis en xarxa<!--]--></h5>
												<p></p>
											</div>
										</article>
									</div>
									</div>
								</div>
							</section>

						<!-- Three -->
						<section id="four">
							<div class="container">
								<h3>Petits projectes personals</h3>
								<p>Petits projectes desenvolupats duruant el meu temps lliure</p>
								<div class="features">
									<h4><!--[-->RaspberryPi Weather Station<!--]--></h4>
									<p>Descripció: Petita API i Web en flask que guarda dades de temperatura humitat i pressió atmosferica
										generats per la meva RaspberryPi, utilitzant diversos sensors
									</p>
									<p>Codi: https://github.com/enflo/weather-flask</p>
									<p>Enllaç al web: <a href="https://weather.toniflorithomar.cat">enllaç</a></p>
								</div>
							</div>
						</section>


					</div>

			</div>

		<!-- Scripts -->
			<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/jquery.scrollex.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/jquery.scrolly.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/browser.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/breakpoints.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/util.js') }}"></script>
			<script src="{{ url_for('static', filename='js/main.js') }}"></script>
			<script src="{{ url_for('static', filename='js/mediumPost.js') }}"></script> <!-- Medium -->
			<script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js" data-cfasync="false"></script>
			<script>
				window.cookieconsent.initialise({
				"palette": {
					"popup": {
					"background": "#efefef",
					"text": "#404040"
					},
					"button": {
					"background": "transparent",
					"border": "#4acaa8",
					"text": "#4acaa8"
					}
				},
				"position": "bottom-left"
				});
			</script>
	</body>
</html>